{% load static %}
<!doctype html>
<html lang="en">

<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/css/style.css">



     {% block extra_css %}
     {% endblock extra_css %}
     <title>{% block title %}{% endblock title %} | Grocery Bag</title>
</head>

<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-warning shadow">
          <a class="navbar-brand" href="/" title="Grocery">Grocery</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{user}}
                              <img src="https://picsum.photos/200/300" width="30" height="30"
                                   class="d-inline-block align-top" alt="">
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/accounts/signout/">Sign out</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/add-item/">Add More</a>
                         </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                         <a class="nav-link" href="/accounts/signout/">Sign in</a>
                    </li>
                    {% endif %}
               </ul>
          </div>
     </nav>


     {% block content %}
     {% endblock content %}



     <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     {% block extra_js %}
     {% endblock extra_js %}
</body>

</html>